= form_for job_category do |f|
  = render partial: 'shared/form_error', collection: job_category.errors.full_messages
  = f.text_field :name, placeholder: 'name'
  = f.text_field :rank, placeholder: 'rank'
  = f.submit class: 'btn btn-primary'