= form_for [resume_category, resume_entry] do |f|
  = render partial: 'shared/form_error', collection: resume_entry.errors.full_messages
  = f.text_field :name, placeholder: 'name'
  = f.text_field :rank, placeholder: 'rank'
  = f.submit class: 'btn btn-primary'