= form_for [job_category, job], html: { class: 'text-center' } do |f|
  = render partial: 'shared/form_error', collection: job.errors.full_messages
  %p= f.text_field :name, placeholder: 'name'
  %p= f.text_field :rank, placeholder: 'rank'
  %p= f.text_field :employer, placeholder: 'empoyer'
  %p= f.text_area :blurb, placeholder: 'blurb', class: 'input-xxlarge'
  %p= f.text_area :detail, placeholder: 'detail', class: 'input-xxlarge'
  %p.clearfix= f.submit class: 'btn btn-primary pull-right'