= form for job do |f|
  = render partial: 'shared/form_error', collection: job.errors.full_messages
  %p
    = f.text_field :name
  %p
    = f.text_field :rank
  %p
    = f.text_field :employer
  %p
    = f.text_area :blurb
  %p
    = f.text_area :detail
  = f.submit class: 'btn btn-primary'