= form_for [job_category, job] do |f|
  = render partial: 'shared/form_error', collection: job.errors.full_messages
  = f.text_field :name, placeholder: 'name'
  = f.text_field :rank, placeholder: 'rank'
  = f.text_field :employer, placeholder: 'empoyer'
  = f.text_area :blurb, placeholder: 'blurb'
  = f.text_area :detail, placeholder: 'detail'
  = f.submit class: 'btn btn-primary'