- content_for :browser do
  \/dev/boone/clients/#{@job.name}
- content_for :title do
  = @job.name
- if current_user.try :admin?
  %p.clearfix
    .btn-group.pull-right
      = link_to 'back', job_category_path(@job.job_category), class: 'btn'
      = link_to 'edit job', edit_job_category_job_path(@job.job_category, @job), class: 'btn btn-primary'
      = link_to 'manage packages', job_packages_path(@job), class: 'btn btn-warning'
      = link_to 'manage pictures', job_pictures_path(@job), class: 'btn btn-warning'
    = button_to 'destroy job', [@job.job_category, @job], method: :delete, class: 'btn btn-danger'
= render partial: 'shared/category_item_display', locals: { item: @job }