= form for resume_category do |f|
  = render partial: 'shared/form_error', collection: resume_category.errors.full_messages
  %p
    = f.text_field :name
  %p
    = f.text_field :rank
  = f.submit class: 'btn btn-primary'