- content_for :browser do
  \/dev/boone/projects
- content_for :title do
  Projects
  = render partial: 'shared/authentication'
= image_tag 'DavisDeathStar.jpg'
- if current_user.try :admin?
  %p= link_to 'manage projects', project_categories_path, class: 'btn pull-right clearfix'
= render partial: 'shared/category', collection: @job_categories
.text-center= paginate @project_categories, theme: 'twitter-bootstrap'