- content_for :browser do
  \/dev/boone/projects
- content_for :title do
  Projects
  = render partial: 'shared/authentication'
= image_tag 'DavisDeathStar.jpg'
%br
%br
- if current_user.present? and current_user.admin?
  = link_to 'manage projects', project_categories_path
- @project_categories.each do |project_category|
  #categorySeperator
    = project_category.name
  - project_category.projects.each do |project|
    .project
      = link_to project_path(project) do
        #subTitle
          = project.name
        %br
        %center
          #projectImage
            - if project.pictures.present?
              = image_tag project.pictures.first.image.url(:gallery)
        %br
        %br
        = project.blurb
  #clear