- content_for :browser do
  \/dev/boone/projects/#{@project.name}
- content_for :title do
  = @project.name
  = render partial: 'shared/authentication'
%p
  - if current_user.try :admin?
    .btn-group.pull-right
      = link_to 'back', project_category_path(@project.project_category), class: 'btn'
      = link_to 'edit project', edit_project_category_project_path(@project.project_category, @project), class: 'btn btn-primary'
      = link_to 'manage packages', project_packages_path(@project), class: 'btn btn-warning'
      = link_to 'manage pictures', project_pictures_path(@project), class: 'btn btn-warning'
    = button_to 'destroy project', [@project.project_category, @project], method: :delete, class: 'btn btn-danger'
    .clear
.projectDetailImage
  - if @project.pictures.present?
    = link_to @project.pictures.first.try(:image).url(:bestfit), class: 'lightbox', rel: "project_#{@project.id}" do
      = image_tag @project.pictures.first.try(:image).url(:bestfit)
.projectDetailSubImageHolder
  - @project.pictures.each do |picture|
    .projectDetailSubImage
      = link_to picture.image.url(:bestfit), class: 'lightbox', rel: "project_#{@project.id}" do
        = image_tag picture.image.url(:small)
  .clear
%p= markdown @project.detail
%p
  .employerTag
    Team Members: #{@project.team}
  .clear
%ul
  - @project.packages.each do |package|
    %li= link_to package.version, package.file.url