- content_for :browser do
  \/dev/boone/projects/#{@project.name}
- content_for :title do
  = @project.name
  = render partial: 'shared/authentication'
- if current_user.try :admin?
  %p.clearfix
    .btn-group.pull-right
      = link_to 'back', project_category_path(@project.project_category), class: 'btn'
      = link_to 'edit project', edit_project_category_project_path(@project.project_category, @project), class: 'btn btn-primary'
      = link_to 'manage packages', project_packages_path(@project), class: 'btn btn-warning'
      = link_to 'manage pictures', project_pictures_path(@project), class: 'btn btn-warning'
    = button_to 'destroy project', [@project.project_category, @project], method: :delete, class: 'btn btn-danger'
= render partial: 'shared/category_item_display', locals: { item: @project }