- content_for :title do
  = @project_category.name
%table.table.table-striped
  %thead
    %tr
      %th
        name
      %th
        rank
  %tbody
    - @project_category.projects.each do |project|
      %tr
        %td
          = link_to project.name, [@project_category, project]
        %td
          = project.rank
.btn-group.pull-left
  = link_to 'create project', new_project_category_project_path(@project_category), class: 'btn btn-primary'
  = link_to 'back', project_categories_path, class: 'btn'
  = link_to 'edit', edit_project_category_path(@project_category), class: 'btn btn-primary'
= button_to 'destroy', @project_category, method: :delete, class: 'btn btn-danger pull-right'