- content_for :title do
  Displaying Picture
= @picture.image.url
= @picture.name
.btn-group.pull-left
  = link_to 'back', owner_aware_pictures_path(@picture.owner), class: 'btn'
  = link_to 'edit', owner_aware_edit_picture_path(@picture.owner, @picture), class: 'btn btn-primary'
= button_to 'destroy', [@picture.owner, @picture], method: :delete, class: 'btn btn-danger pull-right'