%br
%br
#EntryHolder
  #EntryLine
    .EntryHeader
      = post.created_at.to_time.strftime("%B %d, %Y")
#blogImage
  = link_to post.picture.url(:large) do
    = image_tag post.picture.url(:small)
= raw simple_format(post.content)
- if current_user.present? and current_user.admin?
  = link_to 'show', post_path(post)
#clear
- post.pictures.each do |picture|
  #blogExtraImage
    = link_to picture.image.url(:large) do
      = image_tag picture.image.url(:thumb)
#clear