- content_for :browser do
  \/dev/boone
- content_for :title do
  Slash dev Slash Boone
  = render partial: 'shared/authentication'
= image_tag 'DavisDeathStar.jpg'
- if current_user.try :admin?
  %p= link_to 'create post', new_post_path, class: 'btn pull-right clearfix'
= render @posts
.text-center= paginate @posts, theme: 'twitter-bootstrap'