- content_for :browser do
  \/dev/boone/resume
- content_for :address do
  %p
    - @addresses.each do |address|
      %ul
        %li= address.street
        %li= address.city
        %li= address.phone
  - if current_user.try :admin?
    = link_to 'manage addresses', addresses_path, class: 'btn btn-small'
- @resume_categories.each do |resume_category|
  %p.resume-header #{resume_category.name}
  %ul
    - resume_category.resume_entries.each do |resume_entry|
      %li
        = resume_entry.name
        - if current_user.try :admin?
          = link_to 'edit', edit_resume_category_resume_entry_path(resume_category, resume_entry), class: 'btn btn-small'