.navigation-container
  = render partial: 'layouts/time_stamp'
  = link_to jobs_path do
    = image_tag 'clients_icon.jpg', class: 'nav-image'
    .nav-text Clients
  = link_to projects_path do
    = image_tag 'project_icon.jpg', class: 'nav-image'
    .nav-text Projects
  = link_to resume_path do
    = image_tag 'resume_icon.jpg', class: 'nav-image'
    .nav-text  Resume
  = link_to contact_path do
    = image_tag 'contact_icon.jpg', class: 'nav-image'
    .nav-text Contact