!!!
%html
  %head
    = render partial: 'layouts/meta'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    %title= yield :browser
  %body
    .container
      .output-group.clearfix
        .output-container
          .output
            = render 'layouts/flash_messages'
            %p.main-title.text-center= yield :title
            %p= yield
        = render partial: 'layouts/navigation'
      %em.signature C #{Time.now.year.to_s} Michael Boone