!!!
%html
  %head
    = render partial: 'layouts/meta'
    %title= yield :browser
  %body
    .container
      .output-group.clearfix
        .output-container
          .output
            = render 'layouts/flash_messages'
            %p.main-title.text-center= yield :title
            %p= yield
        = render partial: 'layouts/navigation'
      %em.signature C #{Time.now.year.to_s} Michael Boone