!!!
%html
  %head
    = render partial: 'layouts/meta'
    %title= yield :browser
    = stylesheet_link_tag "resume", media: "screen"
    = stylesheet_link_tag "resume_print", media: "print"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    .Center
      .Water
      .Holder
        .Title
          %p
            .Name Michael D. Boone
            .pdfLink
              .btn-group
                = link_to 'back', root_path, class: 'btn btn-small'
                - if current_user.try :admin?
                  = link_to 'edit', resume_categories_path, class: 'btn btn-small btn-warning'
            .clearMe
          .Address
            = yield :address
        .Text
          = yield