!!!
%html
  %head
    = render partial: 'layouts/meta'
    %title= yield :browser
  %body
    .resume-container
      .water.pull-left= image_tag 'waterdrop.png'
      .resume-header.clearfix
        .btn-group.pull-right
          = link_to 'back', root_path, class: 'btn btn-small'
          - if current_user.try :admin?
            = link_to 'edit', resume_categories_path, class: 'btn btn-small btn-warning'
        %strong.resume-name
          Michael D. Boone
        = yield :address
      = yield