!!!
%html
  %head
    = render partial: 'layouts/meta'
    = stylesheet_link_tag "resume", media: "screen"
    = stylesheet_link_tag "resume_print", media: "print"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    #Center
      #Water
      #Holder
        #Title
          #Name Michael D. Boone
          #pdfLink
            = link_to 'Back', root_path
            - if current_user.admin?
              = link_to 'edit', resume_categories_path
              = link_to 'logout', destroy_user_session_path, method: :delete
        #clearMe
        %br
        #Address
          = yield :address
      #Text
        = yield